body {
    font: 14px/18px 'PT Sans', sans-serif;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
}
.wrapper h2 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.wrapper h3 {
    line-height: 0;
    margin-top: 30px;    
}
.red {
    color: #f00;
}
.manage-item {
    display: inline-block;
    vertical-align: top;
    width: 155px;
    margin-right: 35px;
    margin-bottom: 35px;
    text-align: center;
}
.manage-item p:first-letter {
    color: #f00;
   }

.reason_left {
    float: left;
    width: 380px;
    padding-left: 85px;
    margin-left: 25px;
    height: 115px;
}

.reason_right {
    float: right;
    width: 370px;
    padding-left: 85px;
    height: 115px;
}

.clear {
    clear: both;
}
